body {
  width: 100%;
  min-width: 800px;
  height: auto;
  min-height: 100vh;
  background-color: var(--current-mode);
  user-select: none;
}
.btn-e:hover {
  transform: scale(1.1);
  text-shadow: var(--btn-wt-event);
}
.btn-e:active {
  transform: scale(1);
  text-shadow: var(--btn-wt-event);
}
.search-bar {
  padding-left: 0.5rem;
  font-size: var(--size15);
  outline: none;
  border: none;
}
.-sms-e:hover {
  background-color: rgba(99, 99, 99, 0.1);
}
/* 공통 상단 바 */
.main-navbar {
  width: 100%;
  height: 6rem;
  font-family: var(--m-font-link);
  font-weight: 900;
  color: white;
}
.main-navbar > div {
  height: 5rem;
  width: auto;
  padding: 0.5rem 2rem;
}
.main-navbar-link > div,
.main-navbar-user > div {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0 1rem;
}
.main-navbar-search > div {
  height: 5rem;
  background-color: var(--main-white);
  border-radius: 3rem;
  overflow: hidden;
}
.main-navbar-search > div > img {
  width: 3rem;
  padding: 0 1rem;
}
.main-navbar-search > div > input[type=text] {
  width: 40rem;
  line-height: 5rem;
  font-size: var(--size20);
}
.main-navbar-user > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-navbar-user > div > img {
  width: 3rem;
  position: relative;
}
.main-navbar-user-smsbox { position: relative; }
.main-navbar-user-smsbox > ul {
  position: absolute;
  width: 30rem;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 1rem;
  background-color: white;
  color: black;
  right:0;
  top:100%;
  overflow: hidden;
}
.main-navbar-user-smsbox > ul > li { border-radius: 1rem; }
.main-navbar-user-sms {
  width: 100%;
  height: 4rem;
  font-family: var(--m-font-main);
  font-weight: 500;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
}
.main-navbar-user-smsbox li:last-child > div { border: none; }
.main-navbar-user-sms > a {
  padding: 0 0.5rem;
}
.main-navbar-user-sms > a > span {
  font-size: 2.5rem;
}
.main-navbar-user-sms > a > p:last-child {
  margin-left: auto;
  color: var(--main-secondary);
}

/* 메인 컨텐츠 : 가계부 헤더 메뉴 */
.main-content {
  width: 100%;
  min-height: calc(100vh - 6rem);
  background-color: var(--current-mode);
  align-items: center;
  padding: 1rem 0;
  overflow-y: auto;
  margin-top: 5rem;
  gap:1rem;
}
.main-content > .main-lay-parent:nth-of-type(1) {
  width: 70%;
  height: 15rem;
  padding: 0 8rem;
  border-radius: 10rem;
  background-color: #1E90FF66;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-content > .main-lay-parent:nth-of-type(2) {
  width: calc(70% + 16rem);
  height: auto;
  min-height: 100rem;
  align-items: flex-start;
  margin-top: 7rem;
}
.main-content > .main-lay-parent:nth-of-type(3) {
  width: calc(70% + 16rem);
  height: auto;
  min-height: 60rem;
}
.main-menu-cpnt {
  width: 20%;
  max-width: 12rem;
  aspect-ratio: 1 / 1;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 5px #1E90FF;
  cursor: pointer;
  font-size: 1.7rem;
  overflow: hidden;
}
.main-menu-cpnt > div:nth-of-type(1) {
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  gap: 1rem;
}
.main-menu-cpnt > div:nth-of-type(1) > span { font-size: 5rem; }

/* 메인 컨텐츠 : 가계부 내용 부분 */
.main-content > .main-lay-parent:nth-of-type(2) > div:nth-of-type(1) {
  width: 40%;
  height: auto;
  min-height: 100rem;
}
.main-content > .main-lay-parent:nth-of-type(2) > div:nth-of-type(2) {
  width: 60%;
  height: auto;
  min-height: 100rem;
}
.-h10 { height: 10rem; }
.-h10 { height: 20rem; }
.-h20 { height: 20rem; }
.-h30 { height: 30rem; }
.-h40 { height: 40rem; }
.-h50 { height: 50rem; }
.-h60 { height: 60rem; }
.-h70 { height: 70rem; }
.-h80 { height: 80rem; }

.main-lay-cpnt {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.1);
}

.main-footer {
  width: 100%;
  height: 30rem;
  margin-top:10rem;
  background-color: var(--main-color);
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.4);
}
/*  */
@media (width < 1600px) {
  html { font-size: 10px; }
}
@media (width < 1200px) {
  html { font-size: 9px; }
  #search { width: 35rem; }
}
@media (width < 1000px) {
  html { font-size: 8px; }
  #search { width: 32rem; }
}
@media (width < 900px) {
  html { font-size: 7px; }
  #search { width: 29rem; }
}