<div class="join-dialog" th:fragment="join-modal" xmlns:th="http://www.thymeleaf.org">
  <div id="join-modal">
    <div>Life Runer</div>
    <div>회원가입하고 자기관리를 시작 해보세요.</div>
    <div>이미 계정이 있으신가요? <a href="#">로그인하기</a></div>
    <hr>
    <div class="join-modal-input">
      <div>
        <div>성함</div>
        <input type="text" id="join-name" placeholder="성함을 입력하세요.">
        <div id="join-name-text"></div>
      </div>
      <div class="join-modal-row">
        <div>
          <div>성별</div>
          <input type="radio" id="join-man" name="gender" checked>남자
          <input type="radio" id="join-woman" name="gender">여자
        </div>
        <div></div>
      </div>
      <div class="join-modal-date">
        <div>생년월일</div>
        <div>
          <input type="text" id="join-year" placeholder="연도 1998">
          <input type="text" id="join-month" placeholder="월 09">
          <input type="text" id="join-day" placeholder="일 08">
        </div>
        <div id="join-date-text"></div>
      </div>
      <div>
        <div>이메일</div>
        <input type="text" id="join-email" placeholder="이메일을 입력하세요.">
        <div id="join-email-text"></div>
      </div>
      <div>
        <div>아이디</div>
        <input type="text" id="join-uid" placeholder="아이디를 입력하세요.">
        <div id="join-uid-text"></div>
      </div>
      <div class="join-modal-row">
        <div>
          <div>비밀번호</div>
          <input type="password" id="join-upw" placeholder="패스워드를 입력하세요.">
        </div>
      </div>
      <div class="join-modal-row">
        <div>
          <div>비밀번호 확인</div>
          <input type="password" id="join-upw-valid" placeholder="패스워드를 입력하세요.">
        </div>
        <div id="join-pwd-text"></div>
      </div>
      <div>
        <div>주소</div>
        <input type="text" id="join-address" placeholder="주소를 검색하세요.">
      </div>
    </div>
    <hr>
    <div>
      <button class="life-btn -bg-main" id="join-run">회원가입</button>
      <button class="life-btn -bg-lightgreen" id="back-run">뒤로가기</button>
    </div>
  </div>
</div>